@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");

body {
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.topnav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  max-width: 980px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000000;
}

/* Menu */
.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 30px 15px;
}

.menu a {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase;
  position: relative;
}

@media (max-width: 950px) {
  .menu {
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #ffffff;
    height: 100%;
    overflow-y: auto;
  }
  .menu li {
    padding: 0;
  }
  .menu a {
    color: #000000;
    line-height: 60px;
  }
  .navbar {
    display: none;
  }
}
